// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../pebbles/includes/lib';

// copied from pebbles/components/_global-nav.scss
// should be moved to a common location in pebbles?
$color-firefox-light-orange: #ff9500;
$mq-nav-tablet:     'screen and (min-width: 880px)';
$mq-nav-desktop:    'screen and (min-width: 1070px)';

.moz-sub-nav {
    background: #fff;
    display: none; // hidden for mobile

    @media #{$mq-nav-tablet} {
        display: block;
        margin-bottom: 45px;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &.stuck {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
            position: fixed;
            top: 0;
            transform: translateY(-4px);
            width: 100%;
            z-index: 200;
        }
    }

    a:link,
    a:visited {
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        color: #000;
        text-decoration: underline;
        transition: color 0.1s ease-in-out;
    }

    .nav-horizontal-menu {
        border-top: 2px solid #000;
        margin: 0 25px 0 70px;

        @media #{$mq-nav-desktop} {
            margin-left: 84px;
            margin-right: 42px;
        }
    }

    .subnav-primary-links {
        @include font-size(16px);
        list-style-type: none;
        margin: 0;
        padding: 13px 0;

        &> li {
            display: inline-block;
            padding: 0 6px;

            a:hover,
            a:active,
            a:focus {
                color: $color-firefox-light-orange;
                text-decoration: none;
            }

            a:focus {
                outline: none;
            }
        }

        @media #{$mq-nav-desktop} {
            &> li {
                padding: 0 21px;
            }
        }
    }
}

// black outline firefox logo
#fx-global-nav-home-link {
    display: block;
    float: left;
    height: 26px;
    margin-right: 62px;
    padding-top: 10px;
    width: 26px;

    @media #{$mq-nav-desktop} {
        margin-right: 73px;
    }
}
