// A block of content cards, some with images.
// Accommodates up to three cards with one highlighted as the featured card.

.cards-container {
    .card {
        @include clearfix;
        border-bottom: 1px solid #000;
        padding: 20px 0;
        position: relative;

        &:last-child {
            border-bottom: 0;
        }
    }

    // The little highlighted bit of text at the top of a card
    .card-label {
        @include font-size-level4;
        line-height: 1.1;
        margin: 0 0 20px;
        text-transform: lowercase;

        strong {
            background: #000;
            color: #fff;
            padding: 0 5px 0 40px;
        }
    }

    .card-title {
        @include font-size-level2;
        text-transform: lowercase;
    }

    // Some cards have an image. Used with .card
    .image-card {
        .card-label {
            position: absolute;
            left: 0;
            top: 80px;
            z-index: 2;

            strong {
                color: #000;
                background: #fff;
            }
        }

        .card-image {
            width: 100%;
            height: 240px;
            overflow: hidden;
            margin: 0 auto 20px;
            position: relative;
            z-index: 1;
        }

        .card-content {
            background-color: #fff;
            padding: 20px 40px;
            margin: -160px 40px 0 0;
            position: relative;
            z-index: 2;
        }
    }

    @media #{$mq-tablet} {
        .card {
            padding: 40px 0;
        }

        .card-cta {
            width: 60%;
        }

        .image-card {
            padding-left: 300px;

            .card-label {
                top: 60px;
            }

            .card-content {
                padding: 0;
                margin: 0;
            }

            .card-image {
                float: left;
                margin: 0 0 0 -300px;
                overflow: hidden;
                position: relative;
                text-align: center;
                width: 260px;

                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    @media #{$mq-desktop} {
        .image-card {
            padding-left: 460px;

            .card-image {
                margin-left: -460px;
                width: 420px;
                height: 220px;
            }

            .card-content {
                margin: 0;
            }
        }
    }
}

// Alternative grid layout when there are three cards
@supports (display: grid) {
    .cards-container.is-three-cards {

        @media #{$mq-desktop} {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, min-content);
            grid-gap: 20px;

            .card {
                @include border-box;
                border-bottom: 0;
                border-top: 4px solid #000;
                padding: 20px 0;

                &:first-child {
                    border-top: 0;
                }
            }

            .card-content {
                padding: 20px 40px;
            }

            .card-cta {
                width: auto;
            }

            .image-card {
                border-top: 0;
                padding: 0;
                display: grid;
                grid-template-rows: minmax(200px, 30%) min-content min-content;

                .card-content {
                    background: #fff;
                    margin: 0 80px 0 0;
                    grid-row: 3;
                    grid-column: 1;
                    z-index: 2;
                }

                .card-image {
                    width: auto;
                    max-height: 80%;
                    height: auto;
                    float: none;
                    margin: 0;
                    grid-row: 1 / span 3;
                    grid-column: 1;
                    z-index: 1;
                }

                .card-label {
                    position: static;
                    grid-row: 2;
                    grid-column: 1;
                    z-index: 2;
                }
            }

            // Featured card takes the left side
            .image-card.is-featured {
                grid-column: 1;
                grid-row: 1 / span 2;

                .card-content {
                    padding-top: 40px;
                }
            }
        }

        @media #{$mq-desktop-wide} {
            .image-card {
                grid-template-rows: minmax(260px, 40%) min-content min-content;
            }
        }
    }
}
